{% extends 'base.html' %}
{% block body %}

<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="description">Description:</label><br>
            <textarea id="description" name="desc" rows="4" cols="50" required></textarea>
        </div>
        <div>
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" required>
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="images" accept="image/*" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock%}